.btn {
    display: inline-block;
    padding: 6px 15px;
    margin: 0 10px 10px 0;
    background-color: x;
    color: var(--dark);
    text-decoration: none;
    font-family: var(--josefin);
    font-size: 1rem;
    text-transform: uppercase;
    border: 2px solid var(--dark);
}

.btn:hover {
    color: white;
    background-color: var(--purple-dark);
    border: 2px solid var(--purple-dark);
}

.btn:active {
    color: white;
    background-color: var(--purple-dark);
    border: 2px solid var(--purple-dark);
    box-shadow: 6px 6px 1px 0px var(--shadow-gray);
}